body{
    font-family: 'Ubuntu', sans-serif;
}

.principal{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    align-items: center;
    margin-top: 30px;
    border-bottom: 2px solid #888888;
}

.logo-image{
    display: flex;
    width: 275px;
    height: 100px;
    vertical-align: top;
    margin-right: 100px;
}

.menu{
    display: flex;
    vertical-align: top;
    margin-right: 50px;
}

.itens{
    font-size: 17px;
    font-weight: bold;
    margin: 0 10px 0 10px;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 40px 0  0 0;
    transition: 1s all;
}

.itens a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;   
}


.itens:first-child {
    background: url(../imagens/button.gif)  no-repeat 0 0 #aeaeae;
    background-size: 150px 50px;
    color: white;
}

.itens:first-child a{
    color: white;
}

.itens a:hover{
    color: white;
}

.itens:hover{
    background: url(../imagens/button.gif) no-repeat 0 0 #aeaeae;
    background-size: 150px 50px;
    color: white;
}

.menu-secundario{
    display: flex;
    width: 1080px;
    margin: 0 auto;
}

.menu-principal-itens{
    display: flex;
    margin: 4em 0 0;
    justify-content: space-between;
    align-items: center;
    
}

.menu-principal-itens img{
    display: block;   
    position: absolute;
    width: 300px;
    height: 300px;
}

.caixa-texto{
    width: 300px;
    margin: 0 30px 0 50px;
    background: tomato;
}

.menu-principal-itens h3, p{
    display: block;
    position: relative;
    color: white;
}

.menu-principal-itens h3{
    margin: 70px 0 0 130px;
    font-size: 22px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-principal-itens p {
    font-size: 16px;
    padding: 10px 0 0 0;
    margin-left: 30px ;
}